<div class="card__actions">
    <form action="/cart" method="POST">
        <button class="btn">Add to Cart</button>
        
        <input type="hidden" value="<%= product._id %>", name="cartProd_id">
    </form>
</div>